$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
  -webkit-font-smoothing: antialiased;
}

/* Pop */
@-webkit-keyframes pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.circle-wrap {
  width: 470px;
  margin: auto;
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 230px);
}

.circle {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 30px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  opacity: .7;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
}

.circle:hover {
  -webkit-animation-name: pop;
  animation-name: pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  opacity: 1;
}

.circle a {
  padding: 20px;
}

.purp {
  background: #23143b;
  left: 40%;
}

.green {
  background: #80d97d;
  left: 20%;
}

.yellow {
  background: #faff8b;
  left: 0%;
}

.berg {
  background: #920146;
  left: 60%;

}

.orange {
  background: #b66047;
  left: 80%;
}

.initial-circles {
  position: absolute;
  left: calc(50% - 45px);
  opacity: 0;
}

.move-circles {
  opacity: 1;
  z-index: 9999;
}

#nav-id {
  margin-top: 50px;
  text-align: center;
  color: #CECECE;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  opacity: 0;
  font-size: 8pt;
  letter-spacing: 3px;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
}

.show {
  opacity: 1 !important;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

}
