$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';
@import url(http://fonts.googleapis.com/css?family=Roboto:100,400,300,700);

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
  -webkit-font-smoothing: antialiased;
  height: 100%;
  font-family: "Roboto", sans-serif;
  text-transform: lowercase;
  font-weight: 300;
}

#social {
  margin-top: 10px;
  ul, li { margin: 0; padding: 0;}
  li {
    list-style-type: none;
    display: inline-block;
    a {
      color: #fff;
      background: #333;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      padding: 10px;
    }
    #instagram a {
      padding: 100px;
    }
  }
}

/* Pop */
@-webkit-keyframes pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}


.circle-wrap {
  width: 380px;
  margin: auto;
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 200px);
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  height: 70px;
  z-index: 9999;
}

.small-circle-wrap  {
  width: 200px;
  margin: auto;
  position: fixed;
  padding: 0;
  top: 90%;
  left: 0;

  #nav-id {
    margin: 40px 30px 0;
    text-align: left;
    color: #949494;
  }
}

.circle {
  position: absolute;
  width: 30px;
  height: 30px;
  margin: 0 5%;
  border-radius: 50%;
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  opacity: 0.7;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
}

.circle:hover {
  -webkit-animation-name: pop;
  animation-name: pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  opacity: 1;
}


.circle a {
  padding: 20px 15px;
}

$purp: #23143b;
$green:  #80d97d;
$yellow: #faff8b;
$berg: #920146;
$orange:  #b66047;
$red: #b4001f;
$brown: #88593d;
$blue: #1878b2;

.red {
  background: $red;
}

.brown {
//  background: $brown;
}

.blue {
  background: $blue;
}

.purp {
  background: $purp;
  left: 40%;
}

.green {
  background: $green;
  left: 20%;
}

.yellow {
  background: $yellow;
  left: 0%;
}

.berg {
  background: $berg;
  left: 60%;

}

.orange {
  background: $orange;
  left: 80%;
}



.initial-circles {
  position: absolute;
  left: calc(50% - 45px);
  opacity: 0;
}

@-webkit-keyframes flashcolor {
  0% { background: #b66047; }
  20% { background: #23143b; }
  40% { background: #80d97d; }
  60% { background: #faff8b; }
  80% { background: #920146; }
  100% { background: #b66047; }
}

@keyframes flashcolor {
  0% { background: #b66047; }
  20% { background: #23143b; }
  40% { background: #80d97d; }
  60% { background: #faff8b; }
  80% { background: #920146; }
  100% { background: #b66047; }
}

.move-circles {
  opacity: 1;
  z-index: 9999;
  animation: flashcolor 2s infinite;
  -webkit-animation: flashcolor 2s infinite;
  -moz-animation: flashcolor 2s infinite;
  &:hover {
    animation: none;
    -webkit-animation: none;
    -moz-animation: none;
  }
}

#nav-id {
  margin-top: 50px;
  text-align: center;
  color: #949494;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  opacity: 0;
  font-size: 8pt;
  letter-spacing: 3px;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
}

.show {
  opacity: 1 !important;
}

#categories {
  ul, li {
    margin: 0;
  }

  a, .circle {
    display: inline-block;
  }
}

#home {
  height: 100%;
}

#pieces {
  position: relative;
  height: 100%;
  overflow: hidden;

  .row {
    display: none;
  }

  .portfolio-piece {
    height: 80%;
    width: 65%;
    max-width: 560px;
    position: absolute;
    top: -1000px;
  }
}

.portfolio-piece-selected {
  top: 0 !important;
}

#portfolio {
  position: relative;

  h1 {
    color: $purp;
  }

  .row {
    margin-bottom: 50px;
  }
}

.portfolio-piece {
  min-height: 250px;
  background-size: contain !important;
}

.category-circle {
  margin: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}

.category-circle-active {

}

#categories {
  padding: 55px 10px;

  ul, li {
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
    display: block;
    text-align: left;
  }
   a {
     text-decoration: none;
     padding: 3px;
     color: $purp;
     &:hover {
       color: lighten($purp, 50%);
     }
   }
}

#navigation {
  padding: 10px 0;
}

#contact-form {
  display: none;
}

#next, #prev {
  opacity: .5;
  img {
    height: 20px;
    width: auto
  }
  &:hover {
    opacity: 1;
  }
}


h1 {
  font-family: 'Roboto', sans-serif;
}

.hide {
  display: none;
}

.text {
  color: #949494;
  font-size: 8pt;
  letter-spacing: 3px;
}

a.text:hover {
  color: #9d7cd2;
  text-decoration: none;
}

.show {
  display: block;
}

#image-wrap {
  width: 220px;
  margin: auto;
  height: 220px;
  border-radius: 50%;
  overflow: hidden;
  -webkit-transform: translateX(-1px);
  -moz-transform: translateX(-1px);
  transform: translateX(-1px);

  img {
    width: 294%;
    height: auto;
    margin-top: -50px;
    margin-left: -70px;
  }
}

#contact-download-links {
  display: none;
  text-align: center;
}

#contact-options {
  width: 215px;
  margin: 30px auto 15px;

  .circle {
    position: inherit;
    a {
      position: relative;
    }
  }
  .fa-linkedin {
    color: #fff;
    position: absolute;
    top: 27px;
    left: 10px;
  }
  .fa-envelope-o {
    color: #fff;
    position: absolute;
    top: 27px;
    left: 8px;
  }
  #download {
    color: #fff;
    position: absolute;
    top: 29px;
    width: 15px;
    left: 8px;
  }
}

input, textarea {
  display: block;
  background: #fdc9d2;
  border: none;
  padding: 5px;
  margin: 10px auto;
  width: 220px;
  outline: none;
}

#submit {
  background: $blue;
  color: #fff;
}

#instagram {
  width: 31px;
  margin-left: -14px;
  margin-top: 9px;
  transform: translateX(-2px);
  -webkit-transform: translateX(-2px);
  -moz-transform: translateX(-2px);
}

#project-video-wrap {
  margin: auto;
  width: 485px;
}

#logo-wrap {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin: 0;
  background: #fff;

  img {
    width: 484px;
  }
}

footer {
  padding: 25px 0;
  text-align: center;
  font-size: 8pt;
}



/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

}
